<mat-card-title> Portfolio</mat-card-title>

<form [formGroup]="pForm">

  <mat-form-field class="py-2">
    <input matInput placeholder="Name" class="form-control" formControlName="name" required minlength="4">
    <mat-error *ngIf="!pForm.get('name').valid && pForm.get('name').touched">Name is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field class="py-2">
    <textarea matInput placeholder="Description" class="form-control" formControlName="description"></textarea>
  </mat-form-field>

  <mat-card-actions>
    <div mat-dialog-actions class="d-flex justify-content-around py-3 ">
      <button mat-stroked-button (click)="save(pForm.value)" [disabled]="!pForm.valid">Save</button>
      <button mat-stroked-button (click)="closeDialog()" class="second">Close</button>
    </div>
  </mat-card-actions>

</form>