<mat-spinner class="center" *ngIf="!lots"></mat-spinner>

{{lots |json}}

<table mat-table [dataSource]="lots" matSort class="mat-elevation-z8" *ngIf="lots">



  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Symb </th>
    <td mat-cell *matCellDef="let op"> {{op.symbol.name }} </td>
    <!-- No ordena porque es una propiedas de otra objeto -->
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>

  <ng-container matColumnDef="volume">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> volume </th>
    <td mat-cell *matCellDef="let op"> {{op.volume}} </td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> price </th>
    <td mat-cell *matCellDef="let op"> {{op.price | number }} </td>
    <td mat-footer-cell *matFooterCellDef>
      <!-- {{ getPrecioMedio() }} -->
    </td>
  </ng-container>

  <ng-container matColumnDef="totalValue">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> totalValue </th>
    <td mat-cell *matCellDef="let op"> {{op.totalValue | number }}</td>
    <td mat-footer-cell *matFooterCellDef> {{ getTotalValue() | number}} </td>
  </ng-container>

  <ng-container matColumnDef="broker">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> broker </th>
    <td mat-cell *matCellDef="let op"> {{op.broker}} </td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>

  <ng-container matColumnDef="fechaAdquisicion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
    <td mat-cell *matCellDef="let op"> {{op.fechaAdquisicion | date : 'dd/MM/yyyy'}} </td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>





  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>