div.title {
  -webkit-tap-highlight-color: transparent;
  fill: #fff;
  /* font-family: "Source Sans Pro", sans-serif; */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  text-align: left !important;
  white-space: nowrap;
  cursor: pointer;
  color: inherit;
  box-sizing: inherit;
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  user-select: auto !important;
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: 600;
  pointer-events: all;
}

.light {
  -webkit-tap-highlight-color: transparent;
  fill: #fff;
  /* font-family: "Source Sans Pro", sans-serif; */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  text-align: left !important;
  white-space: nowrap;
  cursor: pointer;
  font-size: 25px;
  letter-spacing: -1px;
  box-sizing: inherit;
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-weight: 300 !important;
  user-select: auto !important;
  pointer-events: all;
}