 <!-- <h1 mat-dialog-title>Want to receive our emails?</h1>
 <div mat-dialog-content>
   <p>Create a Portfolio</p>
   <mat-form-field>
     <input matInput [(ngModel)]="portfolio.name">
   </mat-form-field>
 </div>
 <div mat-dialog-actions>
   <button mat-button (click)="onNoClick()">No</button>
   <button mat-button mat-dialog-close (click)="setPortfolio(portfolio)" cdkFocusInitial>Yes</button>
 </div> -->




 <mat-card-title>Login</mat-card-title>
 <mat-card-content style="margin-top: 5%">

   <form [formGroup]="pForm" (ngSubmit)="savePortfolio(pForm.value)">
     <div class="form-group m-t-20">
       <div class="col-xs-12">

         <div class="form-group">
           <div class="col-xs-12">
             <mat-form-field>
               <input name="name" matInput class="form-control" formControlName="name" placeholder="name">
               <mat-error>
                 <span *ngIf="!pForm.get('name').valid && pForm.get('name').touched">Introduce un nombre</span>
               </mat-error>
             </mat-form-field>
           </div>
         </div>

         <div class="form-group">
           <div class="col-xs-12">
             <mat-form-field>
               <input name="description" matInput class="form-control" formControlName="description" placeholder="description">
             </mat-form-field>
           </div>
         </div>

         <div class="form-group">
           <div class="form-group">
             <div class="col-xs-12">
               <button type="submint" [disabled]="!pForm.valid" mat-raised-button mat-dialog-close color="accent" class="btn-block">Save</button>
             </div>
           </div>
         </div>

       </div>
     </div>
   </form>

   <div class="form-group">
     <div class="col-xs-12">
       <button type="submint" mat-stroked-button mat-dialog-close (click)="onNoClick()" color="accent" class="btn-block">
         Cancel
       </button>
     </div>
   </div>

 </mat-card-content>