img {
  border-radius: 8px;
  max-height: 80px;
  height: auto;
}

div.login-wrapper {
  background-color: white;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
}