<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card-title>Login</mat-card-title>

  <mat-card-content>

    <form [formGroup]="loginform" (ngSubmit)="login(loginform.value)">
      <!-- <mat-form-field>
        <mat-label>Email</mat-label>
        <input [(ngModel)]="email" name="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <br>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field> -->

      <div class="col-xs-12">

        <div class="form-group">
          <div class="col-xs-12">
            <mat-form-field>
              <input name="username" matInput formControlName="username" placeholder="Username">
            </mat-form-field>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <mat-form-field>
              <input name="password" matInput formControlName="password" type="password" placeholder="Password">
            </mat-form-field>
          </div>
          <mat-error>
            <span *ngIf="loginInvalido">Usuario o contraseña invalidos</span>
          </mat-error>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <button type="submint" mat-stroked-button color="accent" class="btn-block">Acceder</button>
          </div>
        </div>

      </div>


      <div class="form-group">
        <div class="col-xs-12">
          <button type="submint" mat-raised-button routerLink="/oauth2/authorize/google" color="accent" class="btn-block">
            Accede con Google
            <img src="http://pngimg.com/uploads/google/google_PNG19635.png" style="height:30px">
          </button>
        </div>
      </div>

      <div class="register-option">
        <div class="col-sm-12 text-center">
          No tienes una cuenta?<a routerLink="/register" class="text-secondary m-l-5"><b> Registrarse</b></a>
        </div>
        <!-- <div class=" col-sm-12 text-center">
          <a routerLink="/oauth2/authorize/google"> <img src="http://pngimg.com/uploads/google/google_PNG19635.png" style="height:60px"></a>

        </div> -->
      </div>
    </form>
  </mat-card-content>

</div>