<!-- <table mat-table [dataSource]="dataTable" class="mat-elevation-z8">

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let prod"> {{prod.producto.nombre}} </td>
    <td mat-footer-cell *matFooterCellDef> TOTAL</td>
  </ng-container>

  <ng-container matColumnDef="isin">
    <th mat-header-cell *matHeaderCellDef> ISIN </th>
    <td mat-cell *matCellDef="let prod"> {{prod.producto.isin}} </td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>

  <ng-container matColumnDef="participaciones">
    <th mat-header-cell *matHeaderCellDef> Participaciones </th>
    <td mat-cell *matCellDef="let prod"> {{getVolumen(prod.producto) |  number}}</td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>
  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef> Precio Medio</th>
    <td mat-cell *matCellDef="let prod"> {{getPrecioMedio(prod.producto) | currency:"EUR":"symbol"}}</td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>

  <ng-container matColumnDef="codigoBl">
    <th mat-header-cell *matHeaderCellDef> Codigo BL </th>
    <td mat-cell *matCellDef="let prod"> {{prod.producto.codigoBl }} </td>
    <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>

  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef> Valor</th>
    <td mat-cell *matCellDef="let prod"> {{ getTotalValorProducto(prod.producto) | currency:"EUR":"symbol"}}</td>
    <td mat-footer-cell *matFooterCellDef>{{getTotalValorCartera() | currency:"EUR":"symbol"}}</td>
  </ng-container>

  <ng-container matColumnDef="precioActual">
    <th mat-header-cell *matHeaderCellDef> Precio Actual</th>
    <td mat-cell *matCellDef="let prod">

      {{prod.precioActual}}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>


  <ng-container matColumnDef="valorActual">
    <th mat-header-cell *matHeaderCellDef> V. Actual</th>
    <td mat-cell *matCellDef="let prod">
      {{ calcularValorActualProducto(prod) | currency:"EUR":"symbol"}}
    </td>
    <td mat-footer-cell *matFooterCellDef>{{getValorActualTotal(prod)| currency:"EUR":"symbol"}}</td>
  </ng-container>


  <ng-container matColumnDef="%">
    <th mat-header-cell *matHeaderCellDef> PyG</th>
    <td mat-cell *matCellDef="let prod">
      {{ calcularVariacionValorProducto(prod) | percent }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="fechaActualizacion">
    <th mat-header-cell *matHeaderCellDef> Actualización</th>
    <td mat-cell *matCellDef="let prod">
      {{ prod.fechaActualizacion |slice:40:-1}}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
 -->

<!-- <br><br><br>
<br><br>



<ul>
  <li *ngFor="let p of productos">

    {{ p.nombre }}

    <ul>
      <li *ngFor="let op of cargarOperaciones(p.isin)">
        {{ op.precio}}
      </li>
    </ul>

  </li>
</ul>
<table border="1px">

  <thead>
    <tr>
      <th>Fondo</th>
      <th>Fecha</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let p of productos">

      <td> {{ p.nombre}}</td>
      <table border="1px">
        <tr>
          <th></th>
          <th>{{getPrecioMedio(p)}}</th>
        </tr>


        <tr *ngFor="let op of cargarOperaciones(p.isin)">

          <td>{{op.fechaAdquisicion | date : 'dd/MM/yyyy'}}</td>
          <td>{{ op.precio}}</td>
        </tr>

      </table>
    </tr>

  </tbody>
</table> -->