div.chart {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 876px;
  height: 500px;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0px;
  margin: 0px;
  border-width: 0px;
}