<mat-toolbar class="toolbar-color">
  <span class="center">{{name}}</span>
  <div class="mat-elevation-z4 button">
    <button mat-stroked-button class="bar" [routerLink]="['/transactions/', portfolio?.id]">
      View lots
    </button>
  </div>
</mat-toolbar>




<mat-card>
  <mat-spinner class="center" *ngIf="!portfolioSymbs"></mat-spinner>
  <!-- Table with symbols of a portfolio -->
  <app-table-symbols-portfolio *ngIf="portfolioSymbs" [portfolioSymbs]="portfolioSymbs"></app-table-symbols-portfolio>
</mat-card>

<mat-card>
  <app-chart *ngIf="portfolioSymbs" [portfolioSymbs]="portfolioSymbs"></app-chart>
</mat-card>