<mat-toolbar class="toolbar-color fadeIn ">
  <h2 class="light subcolor">Portfolios / {{name}}</h2>

  <span class="fill-space"></span>
  <div class="mat-elevation-z4 button">

    <button mat-stroked-button class="bar" (click)="openDialog()">
      New
    </button>
  </div>
</mat-toolbar>


<div class="p-3 fadeIn">

  <mat-spinner class="center-hv" *ngIf="!portfolioSymbs"></mat-spinner>

  <div class="group-centered p-2" *ngIf="portfolioSymbs">
    <mat-tab-group mat-align-tabs="center" animationDuration="1000ms">
      <div class="p-5">

        <mat-tab label="Table">
          <app-table-symbols-portfolio [portfolioSymbs]="portfolioSymbs" [portfolio]="portfolio" (filterTable)="filterTable($event)"></app-table-symbols-portfolio>
        </mat-tab>
      </div>

      <mat-tab label="Charts">
        <div class="container p-2">
          <app-chart [portfolioSymbs]="portfolioSymbs"></app-chart>
        </div>
        <div class="container p-2">
          <app-historical-chart [historicalValue]="historicalValue"></app-historical-chart>
        </div>
        <div class="container p-2">
          <app-apexchart [historicalValue]="historicalValue">yeah</app-apexchart>
        </div>

      </mat-tab>

      <mat-tab label="Lots ">
        <div class="container p-2">
          <app-transactions #transaction></app-transactions>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>

</div>