/* Add application styles & imports to this file! */
/* Angular Material */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '@angular/material/prebuilt-themes/purple-green.css'; */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* background: bluegrey; */
}

div.login-wrapper {
  padding: 30px;
}

.navbar-color {
  background-color: #e91e63;
  color: white;
}

.router-link-active {
  background-color: #e91e63;
  font-size: 85%;
  font-weight: bold;
}

.no-border {
  border-radius: 10px;
  background-color: #e91e63;
}

.toolbar-color {
  background-color: #4d4d4d;
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.v-center {
  margin-top: auto;
  margin-bottom: auto;
}

.txt-bold {
  font-weight: bold;
}

.selected {
  background-color: gainsboro;
}

h3.section {
  font-size: 70%;
  color: ghostwhite;
}

/*
--------------------------------
-------------FORMS--------------
--------------------------------
*/
.centered {
  align-items: center;
  justify-content: center;
}

/* .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 34px;
  background: #FFF7FA;
} */
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  padding: 30px;
}

mat-option {
  color: blue;
}

:host {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 100px;
}

.button {
  display: flex;
  justify-content: flex;
}

button.bar {
  background-color: #e91e63;
}

.login-wrapper .form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

div.register-option {
  font-size: 80%;
}

/* watchlist table */
.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
  table-layout: auto;
  white-space: wrap;
}

.centered {
  font-style: italic;
  text-align: center;
}

div.left {
  text-align: left
}

.mediumbold {
  font-size: 110%;
  font-weight: 450;
}

/* td.main {
  text-align: left
} */
td.mat-footer-cell {
  font-weight: bold;
  font-size: 115%;
  font-family: 'Roboto';
  background-color: rgba(0, 0, 0, .05)
}

.bold {
  font-weight: bold;
}

.subline {
  font-size: 60%;
  font-style: italic;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
  /* border: 5px solid #EEEEEE; */
}

th.mat-sort-header {
  text-align: center;
}

tr.mat-row:hover {
  font-weight: bold;
  background-color: #EEEEEE;
}

.percentage {
  font-size: 80%;
}